<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="TableName" value="SMSTable"/>
    <add key="PrmryCol" value="op_serial"/>
    <add key="PhnCol" value="p_tel"/>
    <add key="SentFlgCol" value="send_Flg"/>
    <add key="DBServer" value="192.168.1.177"/>
    <add key="Port" value="1521"/>
    <add key="DBServiceName" value="ORCL"/>
    <add key="BrnNo" value="3"/>


  </appSettings>
</configuration>