<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="TableName" value="SMSTable"/>
    <add key="PrmryCol" value="op_serial"/>
    <add key="PhnCol" value="p_tel"/>
    <add key="SentFlgCol" value="send_Flg"/>


  </appSettings>
</configuration>
